.lift-control {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
  font-family: Arial, sans-serif;
  background-image: url('images/wall.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
  min-height: 100dvh;
  width: 100%;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d0d0d0;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: '2Dumb', Arial, serif;
  margin-bottom: 0px;
}

.menu-bar h1 {
  margin: 0;
  margin-right: 20px;
  font-family: '3Dumb', Arial, serif;
}

.logout-btn {
  margin-top: 0px;
  padding: 10px 15px;
  background-color: #007bff77;
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-size: 16px;
  font-family: '2Dumb', Arial, serif;
}

.toggle-wrapper {
  margin-top: 10px;
}

.toggle-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -150px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 50px;
  height: 100px;
  width: 130px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 92px;
  width: 92px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

input:disabled + .slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.label {
  margin-left: -5px;
  margin-top: 0;
  line-height: 100px;
  font-size: 3rem;
  font-weight: 700;
  font-family: '3Dumb', Arial, serif;
  text-shadow: rgb(0 108 255) 0px 0px 10px;
}

.logout-btn:hover {
  background-color: #c82333;
}

.error {
  color: red;
  margin-top: 10px;
  position: absolute;
  top: 80px;
  left: 5%;
}
.home-wrapper {
  margin-top: auto;
}
.nav-wrapper {
  margin: 0 15px 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.stop-btn {
  background-color: #fff0;
  display: flex;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.stop-btn:hover {
  background-color: #fff0;
}
.home-btn {
  background-color: #6666;
  display: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}
.home-btn:hover {
  background-color: #6666;
}
.settings-btn {
  background-color: #6666;
  display: flex;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.settings-btn:hover {
  background-color: #6666;
}

.level-radio{
  border-radius: 50%;
  margin: 0;
  width: 1em;
  height: 1em;
  color: transparent;
  font-size: 1rem;
  border: 2.5em solid #bababa;
  background-color: #888888;
}
.level-label {
  margin-left: 10px;
  font-size: 3rem;
  font-weight: 700;
  font-family: '3Dumb', Arial, serif;
  /* text-shadow: rgb(0 108 255) 0px 0px 10px; */
}
@media (max-height: 500px) {

}
